<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>search user</title>
</head>
<body>
<div align="center">
    <h2>Found an User:</h2>
    <table border="0" cellpadding="5">
        <tr>
            <td>Id:</td>
            <td th:text=${user.id}></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text=${user.login}></td>
        </tr>
        <tr>
            <td>Password</td>
            <td th:text=${user.password}></td>
        </tr>
        <tr>
            <td>Year</td>
            <td th:text=${user.age}></td>
        </tr>
    </table>
    <h3><a href="/admin/start">Return</a></h3>
</div>
</body>
</html>