<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" th:field="*{login}"><br>
    <label for="pass">Password:</label><br>
    <input type="text" id="pass" th:field="*{password}">
    <select multiple th:field="*{roles}">
        <option th:each="role : ${roles}"
                th:value="${role.roleId}"
                th:text="${role.role}"></option>
    </select>
    <input type="submit" value="Add user">
</form>

</body>
</html>